header{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    border-bottom: 1px solid rgba(0,0,0,.1);

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;

        a{
            text-decoration: none;
            color: #0f1e63;
            font-weight: bold;
            font-size: 1.5rem;
        }

        ul{
            display: flex;
            margin: 0;

            li{
                list-style: none;

                button.nav-link{
                    border: 0;
                    background-color: transparent;
                    text-decoration: none;
                }

                .nav-link{
                    text-decoration: none;
                    color: #0f1e63;
                    font-weight: bold;
                    font-size: 1.2rem;
                    padding: 20px 40px;
                    cursor: pointer;
    
                    &:hover{
                        background-color: rgba(0,0,0,.1);
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}